@import url('izitoast/dist/css/iziToast.min.css');
@import url('flatpickr/dist/flatpickr.min.css');
@import url('modern-normalize/modern-normalize.css');
@import url('./reset.css');
:root {
  --font-family: 'Montserrat', sans-serif;
}

@media screen {
  .container {
    /* max-width: 320px; */
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .timer {
    display: flex;
    gap: 24px;
    width: 346px;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
  }
  .value {
    font-size: 40px;

    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  .label {
    font-size: 16px;

    line-height: 1.5;
    color: #2e2f42;
    text-align: center;
  }
  .field {
    display: flex;
    flex-direction: column;
  }
  .wrapper-input {
    display: flex;
    width: 355px;
    gap: 8px;
    margin-bottom: 32px;
  }
  .date-input {
    width: 272px;
    border-radius: 4px;
    border: 1px solid #808080;

    background: #fff;

    font-size: 16px;

    line-height: 1.4;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 8px 8px 16px;

    font-family: var(--font-family);
  }
  .flatpickr-input:hover {
    border: 1px solid #000;
  }

  .flatpickr-input:focus {
    border: 1px solid #4e75ff;

    outline: none;
  }

  .button-input {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: var(--font-family);
    outline: transparent;
    border: none;
  }
  .button-input:hover {
    background: #6c8cff;
  }
  .date-input:disabled {
    background: #fafafa;
    border: 1px solid #808080;
    color: #808080;
    cursor: not-allowed;
  }

  .button-input:disabled {
    background: #cfcfcf;

    color: #989898;
    cursor: not-allowed;
  }

  .iziToast-close::before {
    content: '×';
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .iziToast-close {
    background-image: none !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
